<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlogDotNet.BlazorWebApp.styles.css"]" />
    <HeadOutlet />
    <ImportMap />
</head>

<body>
    <Routes />
    <script src="@Assets["lib/jquery/jquery.min.js"]"></script>
    <script src="@Assets["lib/bootstrap/js/bootstrap.bundle.min.js"]"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["theme.js"]"></script>
</body>

</html>
